* {
    margin:0;
    box-sizing: border-box;
    padding:0;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:80vh;
}

.fail {
    color:red;
    background-color:lightgray;
    font-size:30;
    border:2px solid red;
    padding:3px;
    width:40%;
}

.success {
    color:green;
    background-color:lightgray;
    font-size:30;
    border:2px solid green;
    padding:3px;
    width:40%;
}